$clr-primary-pink: #ff52bf;
$clr-neutral-vpc:#ebfbff;
$clr-neutral-vdc:#00252e;
$clr-neutral-gb: #808d99;
$clr-white:#fff;

$fs-body:1.125rem;
$fs-normal:1rem;
$fs-mh:clamp(1.5rem, 2vw, 2.5rem) ;
$fs-dt:clamp(1.1rem, 1vw, 1.45rem);

$ff-poppins:'Poppins', cursive;
$ff-opensans:'Open Sans', cursive;

$fw-400:400;
$fw-700:700;
$fw-600:600;

